.Modal__content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.Modal {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: .6);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

   

    .btn--Big {
        width: 100%;
    }

    button:disabled,
    button[disabled],
    button:disabled:hover {
        background-color: var(--primary);
        color: #fff;
        cursor: not-allowed;
    }

    .FormSection__form {
        padding-top: 0;
    }
}
